<%= link_to '編集', :action => 'edit' %>
<hr>

<p>
ユーザID: <%= @login.userid %><br />
メールアドレス: <%= @profile.mail_address %><br />
</p>

<p>
GTDプロジェクトフォルダ: <%= @gtdprj.name %><br />
GTD受信箱: <%= @inbox.title %><br />
</p>

