

<table border="0" width="100%">
  <tr>
    <td align="left" width="80px" valign="bottom">
      <%= link_to (image_tag 'larrow12.gif'), :action => 'month', :id => @prevm %>
      <%= link_to (image_tag 'rarrow12.gif'), :action => 'month', :id => @nextm %>
    </td>
    <td align="right" width="250px" valign="bottom">
      <span class="month_year"><%= @year %>.</span>
    </td>
    <td align="center" width="80px" valign="botton">
      <span class="month_month"><%= @month %></span>
    </td>
    <td align="left" valign="bottom">
      <span class="month_name"><%= @month_name %></span>
    </td>
  </tr>
</table>

<table border="1" class="tableline" width="100%">
  <tr>
    <th class="label_sunday">SUNDAY</th>
    <th class="label_weekday">MONDAY</th>
    <th class="label_weekday">TUESDAY</th>
    <th class="label_weekday">WEDNESDAY</th>
    <th class="label_weekday">THURSDAY</th>
    <th class="label_weekday">FRIDAY</th>
    <th class="label_saturday">SATURDAY</th>
  </tr>
<% ((@edate - @sdate + 1) / 7).to_i.times do |y| %>
  <tr>
    <% 7.times do |x| %>
    <td valign="top">
      <div class="month_day">
        <%= render(:partial => 'month_schedule',
          :locals => {:day => @days[y * 7 + x], :wday => x}) %>
      </div>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
<br />
